html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

#content {
    margin: 1em;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: aquamarine;
}

nav a {
    padding: 1em;
    text-decoration: none;
    color: inherit;
}

nav a:hover {
    background-color: grey;
}

.push {
    margin-left: auto;
}

#projects {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
}

.project {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    min-width: 10em;
    height: 10em;
    border: black;
    background-color: gainsboro;
    padding: 2em;
    margin: 2em;
    text-decoration: none;
    color: inherit;
    border-radius: 2em;
}